#one {
  background: radial-gradient(#bee8f7 , #f7bef3, #bee8f7);

}

#two {
  background: radial-gradient( #c84eed, turquoise, #35f27d, #c84eed);
}

#three {
background: linear-gradient(#e290ed, #36f9f6, #e290ed,#36f9f6);
}

#four {
background: radial-gradient( #f450dc, #0a34d8, #f450dc, #0a34d8, #f450dc);


}

#five {

background: linear-gradient( magenta, #f2b382, #f2df82, #8cf282, #82f2f2, #cb82f2, #e00bce);

}



#six{
  background: linear-gradient( #a218e2, #75f488, #52dbea);

}




p {
font-family: Courier;
font-size: 30px;

}

table{
  border: dotted 7px #000;
}
